@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

#Detail{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(45deg, #2c1a1a, #0000002e);
}
#Detail div{
    width: 50%;
    height: 100%;
}
#bookSeatContainer{
    background-image: linear-gradient(45deg,rgb(94 83 93), rgba(0, 0, 0, 0.18));
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form ,#bookSeatBody{
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
    width: 73%;
    margin: 14px 0px;
    background-color: #d7cbcd;
    padding: 20px;
    border-radius: 10px;
}
#form div{
    display: flex;
    align-items: center;
    width: 100%;
}
label{
    width: 35%;
}
input,#movieList{
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 5px;
}
#submit{
    height: 60%;
    width: 80px;
    border: 2px solid rgb(90 86 92);
    box-shadow: rgb(84 72 72) 0px 0px 17px inset;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(124, 105, 108);
}
 #bookSeatBody{
    background-color: #7c696c;
 } 
#seat_div{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#seatType{
    
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#seatType span{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Available label{
    position: relative;
    top: 9px;
    right: 40px;
}
.seat_type{
    position: relative;
    top: 20px;
    right: 40px;
}
.row{
    width: 70%;
    display: flex;
    height: 22%;
    align-items: center;
    justify-content: space-between;
}
.rowName{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.column{
    height: 100%;
    width: 41%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.seat{
    cursor: pointer;
    font-size: 30px !important;
    color: #999797;
}
#screen{
    width: 50%;
    margin: 10px;
    height: 18%;
    background-color: #ffff;
    box-shadow: 0px 0px 17px #fff;
}
.booked{
    color: #000000 ;
}
.selected{
    color: rgb(179 34 34);
}
.available{
    color: #999797;
}
#seat_count{
    width: 100%;
    justify-content: space-around;
    height: 20%;
    display: flex;
    align-content: center;
}

.disable{
    opacity: 0.4;
    cursor: not-allowed !important;
}
#transparent{
    width: 50%;
    position: absolute;
    height: 100%;
}
#book_seat_btn
{
    height: 10%;
    width: 80px;
    border: 2px solid rgb(90 86 92);
    box-shadow: rgb(106 93 93) 0px 0px 17px inset;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(215 203 205);
}
#transparent_btn{
    width: 8%;
    height: 6%;
    position: absolute;
    bottom: 115px;
    cursor: not-allowed;
}
.displayNone{
    display: none;
}
.color{
    color: #8d3c7e;
}
#seat_container{
display: grid;
grid-template-columns: auto auto auto auto auto auto;
gap: 5px 10px;
}